<html>
    <body>
        <center>
            <h1>Operating System of the server:{{ ansible_distribution}} </h1>
            <br>
            <h1>Host name of the server: {{ mongodb_bind_ip }} </h1>
            <br>
            <br>
            <h1>My username : {{ mongodb_admin_user }} </h1>
        </center>
    </body>
</html>