# mongod.conf

# Network interface settings
net:
  port: 27017      
  bindIp: {{ mongodb_bind_ip }}   

# Storage settings
storage:
  dbPath: /var/lib/mongo   
  journal:
    enabled: true        

# Security settings
security:
  authorization: enabled   